<%provide(:title,'About Us')%>
	<h1>About Us</h1>
	<p> 
	The <a href="http://auraaerosols.in"> Aura aerosols website </a> is a project to make air fresheners available 
	to people all over the world . This site is now hosted with <a>www.heroku.com</a>. This is a sample application 
	just for the tutorial for pachpande. 
	</p>
