
<h1> Help</h1>
	<p> 
	get the help on the ruby on rails at the 
	<a href="http://guides.rubyonrails.org"> Rails guides help </a>
	To get the other help contact the owner of aura aerosols
	<a href="http://www.facebook.com/vijayendra.shende">Vijayendra S. </a>
	</p>


