<footer class="footer">
	<small>
		<a href="http://guides.rubyonrails.org">Rails Guides</a> by rails team .
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://news.ycombinator.com">Hacker News</a></li>
		</ul>
	</nav>
</footer>